temp/
paper.pdf
*.log
main.aux
main.bbl
main.lbl
main.brf
main.blg
main.fdb_latexmk
main.fls
main.out
main.synctex.gz
main.upa
main.upb
*.sublime-workspace
paper.aux
paper.bbl
paper.blg
paper.brf
paper.fdb_latexmk
paper.fls
paper.synctex.gz
